.articleListItem {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    border: 2px solid #d40000;
    background-image: linear-gradient(to right, #f6c7cf, #f3f3f3 20%);
}

.articleImage {
    width: 50%;
}

.articleContent {
    margin-top:30px;
}

.articleTitle {
    font-weight: bold;
    color: #d40000;
    margin-top: 0;
}

section, footer {
    font-size: 17px;
    color: #4b4b4b;
}

.authorTime {
    padding-top: 20px;
}

.time {
    font-weight: bold;
}