.header {
    background-color: #bb261a;
    color: white;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 60px;
    padding: 40px;
}